* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #CCD3CA;
}
/*navbar*/
nav {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  background-color: #35374B;
  justify-content: space-around;
  padding: 20px 0 ; /* padding: 20px 0; atas bawah 20  kiri kanan 0 */
  padding: flex; /* atur padding dengan flex */
  height: 45px;
  align-items: center;
  color:#EED3D9;
}
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
  transition: all 0.4s;
}
nav .logo {
  font-family: "Srisakdi", cursive;
  letter-spacing: 3px; /*space antar char*/
}


nav ul li a {
  font-family: system-ui;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

nav ul li a:hover {
  color:#EED3D9;
  border-bottom: 3px solid #000000;
}
  /* hamburger menu */
  .menu-toggle{
    display: none; 
    flex-direction: column;
    height: 17px;
    justify-content: space-between;
    position: relative;
 }
 .menu-toggle input{
     position: absolute;
     top:-5px;
     left:-3px;
     width:21px;
     height: 21px;
     opacity: 0;
     cursor: pointer;
     z-index: 2;
 }
 .menu-toggle span{
     display: block;
     width: 21px;
     height: 2px;
     background-color: rgb(228, 240, 243);
     border-radius: 3px;
     transition: all 0.7s;
 }

   /*x on hamburger menu*/
   .menu-toggle span:nth-child(2){
    transform-origin: left center;
  }
  
  .menu-toggle span:nth-child(4){
    transform-origin: left center;
  }
  
  .menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) ;
  }
  
  .menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) ;
  }
  /* invis span ke 2 / child ke 3 */
  .menu-toggle input:checked ~ span:nth-child(3){
    width: 0%;
    opacity: 0;
    transition: .1s
  }

.image {
   text-align: center;
}

.image img {
    width: 100%;
    height: auto;  
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    flex-direction: column;

    border: 1px solid rgb(64, 64, 255);
    padding: 8px;
    border-radius: 5px;
    margin: 0 auto;

}
main {
    display: flex;
    flex-direction: row;
    padding-top: 70px;
}

article {
  display: block;
}

.box {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
/* supaya ada jarak antar box  */
.flextwo {
  flex-grow: 2;
}
.flexone {
  flex-grow: 1;
}

footer {
    text-align: center;
}

h2 {
  padding: 20px;
  background-color: #5f7d8e;
    text-align: center;
    color: #35374B;
    text-justify: inter-word;
    word-wrap: break-word;
}
h3 {
  padding-top: 20px;
  padding-bottom : 10px;
  text-align: center;
  color: #13616d;
  text-justify: inter-word;
  word-wrap: break-word;
}
h5 {
  padding-top: 10px;
  text-align: center;
  color: #35374B;
  word-wrap: break-word;
  font-family: monospace;
  font-size: x-large;
}

h6 {
  padding: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
  text-align: center;
  color: #5f7d8e;
  word-wrap: break-word;

}

p {
    text-align: center;
    text-justify: inter-word;
}
@media screen and (max-width: 768px) {
    nav ul{
      width: 50%;
    }
  }

  @media screen and (max-width: 576px) {
   .menu-toggle{
       display: flex;
   }
   main{
    display: flex;
    flex-direction: column-reverse;
   }
    nav ul{
      position: absolute;
      right:0;
      top: 0;
      width: 50%;
      flex-direction: column;
      height: 100vh;
      justify-content:space-evenly;
      align-items: center;
      background-color: rgb(80 132 212);
      /* transform: translateX(100%);  */
      transition: all 0.72s;
      opacity: 0;
      z-index: 2;
    }
    nav ul.menushow{
        opacity: 0.5;
        /* transform: translateX(0); */
    }
  }
  

main ul {
  text-align: center;
}
.table-container {
  margin-bottom: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

.border {
  background-color: #EED3D9;
  padding: 1.5rem;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.border1 {
  background-color: #EAECCC;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.border1:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.academy::after {
  content: "";
  display: table;
  clear: both;
}


.album {
  padding: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  place-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 15px;
}

.column img {
  padding-top: 10px;
  width: 100%;
  margin-bottom: 15px;
  background-size: 100% 100%;
  box-shadow: 10px 10px 10px grey;
  animation: slider 10s linear infinite;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .column {
      flex: 50%;
      max-width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .column {
      flex: 100%;
      max-width: 100%;
  }
}
footer {
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
}

.video-location {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.video, .location {
  width: 45%;
}

.video iframe,.location iframe {
  width: 100%;
  height: 300px; 
}

.animation {
  width: -webkit-fill-available;
  display: grid;
  place-items: center;
  min-height: 20vh;
  background: #e9c6d0;
  font-family: sans-serif;
  color: #fff;
}

.boxAnimation {
  width: 50px; 
  height: 50px; 
  background-color: #35374b;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  50% {
    transform: rotate(-360deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
